.wrap-inner {
   > header {
      padding: 1rem 0;
      font-size: 1rem;
      font-weight: bold;
      font-family: "NanumSquareRoundBold";
      color: var(--color-2);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.5rem;
   }
   > main {
      min-width: calc($min-wh - 2rem);
      margin: 0 0.5rem;
      font-size: 0.8rem;
      line-height: 1.2rem;
      @include tablet {
         padding-bottom: 1.5rem;
      }
      > .inner-wrap {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         // align-items: center;
         // align-content: flex-start;
         gap: 1rem;
         > section {
            @include def-border-radius;
            flex: 1 calc(25% - 1rem);
            min-width: calc($min-wh - 2rem);
            > h2 {
               @include def-border-radius;
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 0.5rem;
               padding: 0.5rem 0;
               background-color: var(--bg-1);
               font-size: 1.1rem;
               font-family: "NanumSquareRound";
               color: var(--white-1);
               text-align: center;
               line-height: 0;
            }
            $icons: ("icon_mobile_1", "icon_tablet_1", "icon_wide_1", "icon_pc_1");
            @each $icon in $icons {
               $i: index(
                  $list: $icons,
                  $value: $icon,
               );
               &:nth-child(#{$i}) {
                  > h2 {
                     &::before {
                        display: block;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background: url("#{$img-path}#{unquote($icon)}.png") no-repeat center / 24px auto;
                     }
                  }
               }
            }
            > ul {
               display: flex;
               flex-direction: column;
               gap: 0.5rem;
               padding: 0.5rem 0;
               font-size: 0.75rem;
               font-family: "NanumSquareRound";
               > li {
                  display: flex;
                  justify-content: flex-start;
                  gap: 0.5rem;
                  &:not(:first-child) {
                     padding-top: 0.5rem;
                     border-top: 1px solid var(--border-2);
                  }
                  > a {
                     @include def-border-radius($bradius: 0.5rem, $padding: 0.25rem 0);
                     display: block;
                     padding: 0.25rem 0.5rem;
                     background-color: var(--bg-3);
                     color: var(--color-3);
                     &:hover {
                        background-color: var(--color-3);
                        color: var(--bg-3);
                     }
                     &:last-child {
                        color: var(--color-4);
                        &:hover {
                           background-color: var(--color-4);
                           color: var(--bg-3);
                        }
                     }
                  }
               }
            }
         }
      }
   }
   > footer {
      background-color: var(--white-1);

      @include tablet {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         min-height: 10rem;
      }
      > .footer-inner {
         @include def-border-radius;
         min-width: calc($min-wh - 2rem);
         margin: 1rem 0.5rem;
         padding: 1rem 0.5rem 1.5rem;
         background-color: var(--bg-4);
         color: var(--color-5);
         > h1 {
            padding: 0 0 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: "NanumSquareRoundBold";
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            @include tablet {
               text-align: left;
            }
         }
         > section {
            font-size: 0.75rem;
            font-family: "NanumSquareRound";
            line-height: 1.2rem;
            > p:first-child {
               font-weight: bold;
            }
         }
      }
   }
}
