html {
   height: 100%;
}

body {
   height: 100%;
   background-color: rgb(39, 27, 27);

   &::before {
      @include d-bg-set($opacity: 1);
      top: 4rem;
      background: url(../images/bg.jpg) no-repeat center / cover;
   }
}

.wrapper {
   display: grid;
   grid-template-areas:
      "header  .   ."
      "header  main   main"
      "footer  footer   footer";
   grid-template-rows: 1fr 5fr 1fr;
   grid-template-columns: 1.2fr 3fr;

   position: relative;
   max-width: 1200px;
   min-height: 100%;
   margin: 0 auto;

   header {
      grid-area: header;
      position: relative;
      width: 100%;
      overflow: hidden;

      .title-logo {
         position: relative;
         transform: translate(1rem, 0.5rem);
         color: rgba(235, 235, 235, 0.788);
         letter-spacing: 0.2rem;
         font-weight: normal;
      }

      > nav {
         padding: 0 0 0 1.5rem;

         > ul {
            padding: 2rem 0 0;

            li {
               padding: 0.5rem 0 0;

               > a {
                  display: block;
                  padding: 0.5rem 1rem;
                  border-radius: 0.5rem;

                  &.on,
                  &:hover {
                     background-color: rgba(94, 10, 10, 0.644);
                  }
               }
            }
         }
      }
   }

   main {
      grid-area: main;
      padding: 1rem 1rem 5rem;

      .inner-wrap > section {
         display: none;
      }

      .intro {
         padding: 1rem;
         display: flex;
         justify-content: center;
         align-items: flex-start;
      }

      .portfolio {
         > ul {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            flex-wrap: wrap;

            > li {
               position: relative;
               font-size: 0.85rem;
               box-sizing: border-box;
               padding: 0.5rem 1.5rem;

               &::after {
                  display: block;
                  content: "";
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  z-index: -1;
                  background-color: rgba(189, 17, 17, 0.644);
                  border-radius: 1rem;
               }

               &:hover::after {
                  background-color: rgba(17, 92, 189, 0.644);
               }
            }
         }
      }
   }

   footer {
      grid-area: footer;
      padding: 1rem 0 0;

      > h1 {
         transform: translateX(1rem);
         font-size: 1.5rem;
         color: var(--white);
         font-weight: normal;
         letter-spacing: 0.2rem;
      }
   }
}
