@mixin icon-pos-center($wh, $hg, $src, $isw: null, $ish: null, $pos: null) {
   width: if(unitless($wh), #{$wh}px, $wh);
   height: if(unitless($hg), #{$hg}px, $hg);
   background-image: url("#{$img-path}#{$src}");
   background-position: if($pos==null, center, $pos);
   background-size: $isw $ish;
   background-repeat: no-repeat;
}

@mixin box-style($bg-color: var(--white), $b-radius: 1.5rem) {
   background: $bg-color;
   box-shadow: 0rem 0.5rem 0rem rgba(0, 0, 0, 0.08);
   border-radius: $b-radius;
}

@mixin text-box-style {
   display: inline-block;
   background: var(--white);
   border: 0.2rem solid var(--font-gray-3);
   border-radius: 2.5rem;
   padding: 0.7rem 1rem 0.5rem;
   font-weight: 800;
   font-size: 1.6rem;
   font-family: "NanumSquareRound";
   line-height: 1.6rem;
   letter-spacing: -0.1rem;

   @content;
}

@mixin hide-text($deep: null) {
   @if not($deep == null) {
      overflow: hidden;
      display: block;
      clip: rect(1px, 1px, 1px, 1px);
      font-size: 0 !important;
      text-indent: -9999px;
   } @else {
      overflow: hidden;
      text-indent: -9999rem;
   }
}

@mixin d-pos(
   $absc: null,
   $dsp: null,
   $pos: null,
   $lt: null,
   $rt: null,
   $tp: null,
   $btm: null,
   $zidx: null,
   $trfm: null,
   $wh: null,
   $hg: null,
   $mg: null,
   $pg: null
) {
   display: $dsp;
   position: $pos;
   z-index: $zidx;
   width: $wh;
   height: $hg;
   transform: $trfm;
   margin: $mg;
   padding: $pg;

   @if not($absc == null) {
      @if ($absc == "L") {
         left: 50%;
         transform: translateX(-50%);
         top: $tp;
         bottom: $btm;
      } @else if ($absc == "T") {
         left: $lt;
         right: $rt;
         top: 50%;
         transform: translateY(-50%);
      } @else {
         // both
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
      }
   } @else {
      left: $lt;
      right: $rt;
      top: $tp;
      bottom: $btm;
   }
}

// flex setting
@mixin d-flex-set($jc: null, $ai: null) {
   display: flex;
   justify-content: if($jc == null, space-around, $jc);
   align-items: if($ai == null, center, $ai);
   @content;
}

// image setting
@mixin d-img-set($def: null, $src: null, $pos: null, $size: null, $rept: no-repeat, $color: null) {
   @if ($def == 1) {
      background: $color url($img-path + unquote($src)) no-repeat left top / contain;
   } @else if($def == 2) {
      background: $color url($img-path + unquote($src)) $rept $pos / $size;
   } @else {
      background: $color url(unquote($src)) $rept $pos / $size;
   }
}

// goto btn style
@mixin goto-btn-style {
   @include d-pos($pos: absolute, $rt: 2rem, $tp: 0.25rem, $wh: 4rem, $hg: 2.5rem);
   @include d-img-set(1, "btn_more.svg");
   @include hide-text;
   @content;
}

@mixin d-fonts(
   $weight: null,
   $size: null,
   $height: null,
   $spacing: null,
   $color: null,
   $indent: null,
   $family: null,
   $ellps: null,
   $flow: null,
   $ws: null
) {
   font-family: if($family != null, if($family==1, "NanumSquareRound", $family), $family);
   font-weight: $weight;
   font-size: $size;
   line-height: $height;
   letter-spacing: $spacing;
   color: $color;
   text-indent: $indent;
   @if ($ellps==1) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   overflow: $flow;
   white-space: $ws;
}

// temp
@mixin temp-area {
   .temp-area {
      position: absolute;
      left: 0;
      right: 0;
      top: 13.845px;
      z-index: 3;
      height: 10.235px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12.925px 0 30.58px;

      &::before {
         display: block;
         content: "";
         width: 28.16px;
         height: 10.235px;
         background: url("#{$img-path}temp_01.svg") 0 0 no-repeat;
         background-size: contain;
         font-size: 0;
      }

      &::after {
         display: block;
         content: "";
         width: 62.77px;
         height: 14.77px;
         background: url("#{$img-path}temp_02.svg") 0 0 no-repeat;
         background-size: contain;
         font-size: 0;
      }
   }
}

@mixin d-bg-set($opacity: 0.8, $bg-color: null, $pos: null) {
   display: block;
   content: "";
   position: if($pos==null, absolute, $pos);
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
   opacity: $opacity;
   background-color: $bg-color;
}
