@mixin mobile {
   @media screen and (min-width: $mobile-wh) {
      @content;
   }
}
@mixin tablet {
   @media screen and (min-width: $tablet-wh) {
      @content;
   }
}
@mixin pc {
   @media screen and (min-width: $pc-wh) {
      @content;
   }
}
@mixin max {
   @media screen and (min-width: $max-wh) {
      @content;
   }
}
@mixin max-over {
   @media screen and (min-width: $max-over-wh) {
      @content;
   }
}

@mixin abs-middle($width: null) {
   display: block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: if($width==null, $mx-width, $width);
}

// [border-width, border-style, border-color, border-radius, padding]
@mixin def-border-radius($bwidth: 1px, $bstyle: solid, $bcolor: var(--border-2), $bradius: 1rem, $padding: null) {
   padding: if($padding==null, 0.5rem 1rem, $padding);
   box-sizing: border-box;
   border-width: $bwidth;
   border-style: $bstyle;
   border-color: $bcolor;
   border-radius: $bradius;
}
