@media screen and (max-width: 700px) {
   .wrapper {
      display: block;
      grid-template-areas: initial;
      grid-template-rows: initial;
      grid-template-columns: initial;

      header {
         > nav {
            padding: 0 0 2rem 0;

            > ul {
               display: grid;
               grid-template-columns: repeat(4, 1fr);
               gap: 1rem;

               li {
                  background-color: red;
                  padding-bottom: 1rem;
               }
            }
         }
      }

      footer {
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
         height: 3rem;
         padding: 0;
         display: flex;
         justify-content: flex-start;
         align-items: center;

         > h1 {
            font-size: 1.2rem;
         }
      }
   }
}
