@media screen and (max-width: 700px) {
   .wrapper {
      display: block;
      grid-template-areas: initial;
      grid-template-rows: initial;
      grid-template-columns: initial;

      header {
         > nav {
            min-width: 16rem;
            padding: 0 0.5rem 2rem;

            > ul {
               display: grid;
               grid-template-columns: repeat(4, minmax(auto, 1fr));
               gap: 0;

               li {
                  font-size: 0.65rem;
                  // padding: 0 0 1rem;

                  > a {
                     text-align: center;
                     padding: 0.5rem 1rem;
                  }
               }
            }
         }
      }

      footer {
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
         height: 3rem;
         padding: 0;
         display: flex;
         justify-content: flex-start;
         align-items: center;

         > h1 {
            font-size: 1.2rem;
         }
      }
   }
}

@media screen and (max-width: 340px) {
   .wrapper {
      header {
         > nav {
            > ul {
               li {
                  > a {
                     display: inline-block;
                  }
               }
            }
         }
      }
   }
}
