:root {
   --white: #fff;
   --white-2: #fafafa;
   --white-3: #f1f1f1;
   --pink: #f17785;
   --main-bg: #f5f4f1;
   --font-color: #333;
   --font-green: #abcd05;
   --font-gray: #999;
   --font-gray-2: #ccc;
   --font-gray-3: #666;
   --font-blue-1: #55827a;
   --font-blue-2: #78bcb0;
   --font-pink: #f27886;
   --shadow-dark: rgba(0, 0, 0, 0.15);
   --gray-1: #f5f5f5;
   --gray-2: #f3f3f3;
   --blue-1: #85d0c3;
   --green-1: #9aba00;
   --gray-alpha-1: rgba(245, 245, 245, 0.6);
   --gray-alpha-2: hwb(0 88% 12% / 0.6);
}

$img-path: unquote("../image/");
