:root {
   --white-1: #fff;

   --color-1: #666;
   --color-2: #494949;
   --color-3: #3752ec;
   --color-4: #ec378b;
   --color-5: #c7c7c7;

   --border-1: #888;
   --border-2: #e9e9e9;

   --bg-1: #4b4c52;
   --bg-2: #e6e6e6;
   --bg-3: #f2f2f2;
   --bg-4: #323338;
}

$img-path: unquote("../images/");

$mx-width: 61rem;
$def-side-padding: 0 0.75rem;

$ball-pos1: 6.3rem;
$ball-pos2: 4.75rem;

$fam-NSR: "NanumSquareRound";

$min-wh: 320px;
$mobile-wh: 375px;
$tablet-wh: 768px;
$pc-wh: 1200px;
$max-wh: 1440px;
$max-over-wh: 1510px;

$bg-st-01: rgba(226, 146, 159, 0.979);
$bg-st-02: rgba(25, 148, 25, 0.979);
$bg-st-03: rgba(31, 31, 192, 0.979);
$bg-st-04: rgba(192, 21, 21, 0.979);
