@keyframes open-aside-main {
   from {
      transform: translateY(calc(-100% - 3rem));
   }
   to {
      transform: translateY(0);
   }
}

@keyframes open-aside-main-revers {
   from {
      transform: translateY(0);
   }
   to {
      transform: translateY(calc(-100% - 3rem));
   }
}
