@function f-imgset($tp: null, $src, $pos: null, $size: null, $rept: null) {
   $src: unquote(
      $string: $src,
   );
   $pos: if($pos==null, left top, $pos);
   $size: if($size==null, contain, $size);
   $rept: if($rept==null, no-repeat, $rept);

   @if ($tp == "LT") {
      @return url($img-path + $src) $rept left top / $size;
   } @else if($tp == "RT") {
      @return url($img-path + $src) $rept right top / $size;
   } @else if($tp == "CT") {
      @return url($img-path + $src) $rept center top / $size;
   } @else if ($tp == "LB") {
      @return url($img-path + $src) $rept left bottom / $size;
   } @else if($tp == "RB") {
      @return url($img-path + $src) $rept right bottom / $size;
   } @else if($tp == "CB") {
      @return url($img-path + $src) $rept center bottom / $size;
   } @else if($tp == "CL") {
      @return url($img-path + $src) $rept center left / $size;
   } @else if($tp == "CR") {
      @return url($img-path + $src) $rept center right / $size;
   } @else if($tp == "C") {
      @return url($img-path + $src) $rept center / $size;
   } @else if($tp == 1) {
      @return url($img-path + $src) $rept $pos / $size;
   } @else {
      // 0
      @return url($src) $rept $pos / $size;
   }
}
